<h1>作品紹介</h1>
<a href="/movies">Return</a>
<h2>作品名</h2>
<%= @movie.name %>
<%= @movie.year %>
<%= @movie.description %>
<img src="<%= @movie.image_url %>" alt="Movie Image" width="300" height="200">
<h2>上映中スケジュール2</h2>
<% @movie.schedules.each do |schedule| %>
  <p>開始時間: <%= schedule.start_time.strftime('%H:%M') %></p>
  <p>終了時間: <%= schedule.end_time.strftime('%H:%M') %></p>
<% end %>
