<h1>予約一覧</h1>
<%# <%= link_to "予約作成", new_admin_reservation_path %>%>
<%= flash[:notice] %>

<table>
<% @reservations.each do |reservation| %>
 <tr>
  <th>劇場名</th>
  <th>映画タイトル</th>
  <th>座席番号</th>
  <th>日時</th>
  <th>時刻</th>
  <th>メールアドレス</th>
  <th>名前</th>
 <tr>

 <tr>
  <td><%= reservation.schedule.theater.name %></td>
  <td><%= reservation.schedule.movie.name %></td>
  <td><%= reservation.sheet_id %></td>
  <td><%= reservation.schedule.schedule_date %></td>
  <td><%= reservation.schedule.start_time.strftime('%H:%M') + "～" + reservation.schedule.end_time.strftime('%H:%M') %></td>
  <td><%= reservation.email %></td>
  <td><%= reservation.name %></td>
  <td><%= link_to '詳細', admin_reservation_path(reservation.id) %></td>
  <td><%= link_to '削除', admin_reservation_path(reservation.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></td>
 </tr>
 <% end %>
</table>